{% extends "base.html" %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
    .big-button {        
        background-color: #4CAF;
        font-size: 24px;
        padding: 8px 100px;
        display: block;
        margin: 10px auto;
        text-align: center;
    }
    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }
</style>
</head>
<body>
<div class="button-container">
    
    <a href="/textclassifier" style="text-decoration: none;">
        <button class="big-button">Text Classification</button>
  
</div>
</body>
</html>
{% endblock body %}

